{% extends 'home.html' %}
{% load static %}
{% block content  %}


<header>
  <main>
    <div class="p-3 mb-2 bg-transparent text-body"></div>
    <div class="album py-5 bg-light">
      <div class="container">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for libro in libros %}
          <div class="col">
            <div class="card shadow-sm">
              <img  src="{% static 'img/ene.png' %}"  width="100%" height="225">
              <div class="card-body">
                <h2>{{libro.Nombre}}</h2>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-secondary" href="/ie1/{{libro.id}}" role="button">Ver</a>
                    {% if libro.Ejemplares > 1 %}
                      <a class="btn btn-secondary" href="/generarprestamo/{{libro.id}}" role="button">Solicitar</a>
                    {% endif %}
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock  %}